body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  margin: 10px;
}

li{
  list-style-type: none;
}

input{
  width:300px;
  padding: 5px;
  margin: 10px;
  height:50px;
  border:1px solid grey;
  border-radius: 10px;
  display: flex;
}

button{
  background-color: rgb(165, 65, 65);
  color: black;
  padding: 8px 12px;
  border:none;
  border-radius: 5px;
  margin:5px;
  cursor: pointer;
}